@page "/ubicacion/delete/{Id:int}"
@attribute [Authorize]

@using Data
@using Data.Response
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager

<AuthorizeView  Roles="Administrador, Soporte">

<h3>Eliminar ubicación</h3>
<p>¿Deseas eliminar el ubicación: <b>@Nombre</b>?</p>

<div class="row">
    <div class="col-sm-12">
        <button href="" class="btn btn-secondary" @onclick="Cancelar">No</button>
        <button href="" class="btn btn-warning" @onclick="Eliminar">Sí</button>
    </div>
</div>

@if (_isVisible)
{
    <div id="error" class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                <p>Error: @Error</p>
                <p>Contacte a su administrador.</p>
            </div>
        </div>
    </div>
}

</AuthorizeView >

@code {
    [Parameter]
    public int Id { get; set; }
    public string Nombre { get; set; }
    public string Cultura { get; set; }
    public string Error { get; set; }
    private bool _isVisible = false;
    Ubicacion oUbicacion = new Ubicacion();
    Respuesta<Object> oRespuesta = new Respuesta<Object>();
    Respuesta<Ubicacion> oRespuestaUbicacion = new Respuesta<Ubicacion>();
    public string Url = "/api/ubicacion";

    protected override async Task OnInitializedAsync()
    {
        if (Id != 0)
        {
            oRespuestaUbicacion = await Http.GetFromJsonAsync<Respuesta<Ubicacion>>(Url + "/" + Id);
            oUbicacion = oRespuestaUbicacion.Data;

            Nombre = oUbicacion.Domicilio;
        }
    }

    private void Cancelar() => NavigationManager.NavigateTo("/ubicacion", true);

    private async Task Eliminar()
    {
        var response = await Http.DeleteAsync(Url + "/" + Id);
        oRespuesta = response.Content.ReadFromJsonAsync<Respuesta<Object>>().Result;

        if (oRespuesta.Exito != 0)
        {
            NavigationManager.NavigateTo("/ubicacion", true);
        }
        else
        {
            _isVisible = !_isVisible;
        }
    }
}
