@page "/plataforma/delete/{Id:int}"
@attribute [Authorize]

@using Data
@using Data.Response
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager


<AuthorizeView  Roles="Administrador, Soporte" >

<h3>Eliminar país</h3>
<p>¿Deseas eliminar el país: <b>@Nombre</b>?</p>

<div class="row">
    <div class="col-sm-12">
        <button href="" class="btn btn-secondary" @onclick="Cancelar">No</button>
        <button href="" class="btn btn-warning" @onclick="Eliminar">Sí</button>
    </div>
</div>

@if (_isVisible)
{
    <div id="error" class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                <p>Error: @Error</p>
                <p>Contacte a su administrador.</p>
            </div>
        </div>
    </div>
}
</AuthorizeView >

@code {
    [Parameter]
    public int Id { get; set; }
    public string Nombre { get; set; }
    public string Error { get; set; }
    private bool _isVisible = false;
    Plataforma oPlataforma = new Plataforma();
    Respuesta<Object> oRespuesta = new Respuesta<Object>();
    Respuesta<Plataforma> oRespuestaPlataforma = new Respuesta<Plataforma>();
    public string Url = "/api/plataforma";

    protected override async Task OnInitializedAsync()
    {
        if (Id != 0)
        {
            oRespuestaPlataforma = await Http.GetFromJsonAsync<Respuesta<Plataforma>>(Url + "/" + Id);
            oPlataforma = oRespuestaPlataforma.Data;

            Nombre = oPlataforma.Nombre;
        }
    }

    private void Cancelar() => NavigationManager.NavigateTo("/plataforma", true);

    private async Task Eliminar()
    {
        var response = await Http.DeleteAsync(Url + "/" + Id);
        oRespuesta = response.Content.ReadFromJsonAsync<Respuesta<Object>>().Result;

        if (oRespuesta.Exito != 0)
        {
            NavigationManager.NavigateTo("/plataforma", true);
        }
        else
        {
            _isVisible = !_isVisible;
        }
    }
}
