@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso denegado";
}

<header>
    <h1 class="text-danger">Dirección de Ceremonial y Relaciones Institucionales</h1>
    <p class="text-danger">Usted no posee permisos para ingresar a este recurso.</p>
</header>
