@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Cambiar contraseña";
}

<h1>@ViewData["Title"]</h1>
<p>
    Su contraseña ha sido modificada. En breve será redirigido al portal de ingreso.
</p>


@section Scripts {
        <partial name="_ValidationScriptsPartial" />

    <script type="text/javascript">
         document.addEventListener("DOMContentLoaded", function () {
          
            setTimeout(function(){ window.location.replace(window.origin + "/Identity/Account/Login")}, 6000);
            
        });



    </script>
}


