@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Reenviar correo de confirmación";
}

<h1>@ViewData["Title"]</h1>
<h4>Ingrese su correo electrónico.</h4>
<hr />
<div class="row">
    <div class="col-md-12">
            <div class="col-xl-12" style="margin-top:40px;">
        @foreach (var modeleState in Model.ModelState.Values)
         {
            foreach (var error in modeleState.Errors)
             {
               <p class="text-danger"> @error.ErrorMessage</p>

             }
          }
     </div>
        <form method="post">
            <div class="form-group col-md-6">
                <label asp-for="Input.Email">Correo electrónico</label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Reenviar</button>
                        <a type="button" href="/Identity/Account/Login" class="btn btn-danger">Volver</a>

        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
