@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Cambiar contraseña";
}

<h1>@ViewData["Title"]</h1>
<h4>Ingrese su contraseña.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <div class="col-xl-12" style="margin-top:40px;">
        @foreach (var modeleState in Model.ModelState.Values)
         {
            foreach (var error in modeleState.Errors)
             {
               <p class="text-danger"> @error.ErrorMessage</p>

             }
          }
     </div>
        <form method="post">
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group">
                <label asp-for="Input.Email">Correo electrónico</label>
                <input asp-for="Input.Email" id="EmailInput" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password">Contraseña</label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword">Confirme su contraseña</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript">
         document.addEventListener("DOMContentLoaded", function () {
             
             var queryParam = window.location.search.split("&Email=")[1];

            
            var buttonN = document.getElementById('EmailInput');
            
            buttonN.value= queryParam;
            
        });
    </script>
}
