@page "/estado/delete/{Id:int}"
@attribute [Authorize]

@using Data
@using Data.Response
@using System.Net.Http
@using System.Net.Http.Json
@inject HttpClient Http
@inject NavigationManager NavigationManager


<AuthorizeView  Roles="Soporte, Administrador" >

<h3>Eliminar estado</h3>

<p>¿Deseas eliminar el estado: <b>@Nombre</b>?</p>

<div class="row">
    <div class="col-sm-12">
        <button href="" class="btn btn-secondary" @onclick="Cancelar">No</button>
        <button href="" class="btn btn-warning" @onclick="Eliminar">Sí</button>
    </div>
</div>

@if (_isVisible)
{
    <div id="error" class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                <p>Error: @Error</p>
                <p>Contacte a  Soporte.</p>
            </div>
        </div>
    </div>
}
</AuthorizeView>

@code {
    [Parameter]
    public int Id { get; set; }
    public string Nombre { get; set; }
    public string Error { get; set; }
    private bool _isVisible = false;
    Estado oEstado = new Estado();
    Respuesta<Object> oRespuesta = new Respuesta<Object>();
    Respuesta<Estado> oRespuestaEstado = new Respuesta<Estado>();
    public string Url = "/api/estado";

    protected override async Task OnInitializedAsync()
    {
        if (Id != 0)
        {
            oRespuestaEstado = await Http.GetFromJsonAsync<Respuesta<Estado>>(Url + "/" + Id);
            oEstado = oRespuestaEstado.Data;

            Nombre = oEstado.Nombre;
        }
    }

    private void Cancelar() => NavigationManager.NavigateTo("/estado", true);


    private async Task Eliminar()
    {
        var response = await Http.DeleteAsync(Url + "/" + Id);
        oRespuesta = response.Content.ReadFromJsonAsync<Respuesta<Object>>().Result;

        if (oRespuesta.Exito != 0)
        {
            NavigationManager.NavigateTo("/estado", true);
        }
        else
        {
            _isVisible = !_isVisible;
        }
    }
}